<form [formGroup]="uploadForm"
      class="p-4">
    <div class="example-container form-group">
        <div>
            <input class="mb-4"
                   formControlName="document"
                   type="file"
                   ng2FileSelect
                   accept=".pdf"
                   [uploader]="uploader"
                   name="userPdf"
                   multiple />
            <div class="drop-zone py-4 mb-2">
                <div ng2FileDrop
                     [uploader]="uploader">
                    Drag and drop files to upload
                </div>
            </div>
        </div>
    </div>
    <div class="example-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">
                        File name
                    </th>
                    <th scope="col">
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue; let i = index;">
                    <th scope="row">
                        {{i + 1}}
                    </th>
                    <th>
                        {{item._file.name}}
                    </th>
                    <th class="text-center">
                        <mat-icon (click)="item.remove()">delete</mat-icon>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="example-container">
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description"
                      name="descriptionField"
                      rows="3"
                      matInput
                      #inputDescription
                      maxlength="30"
                      placeholder="Enter Description">
                    </textarea>
            <mat-hint align="end">{{inputDescription.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
    </div>

    <!-- <button mat-raised-button
            color="primary"
            [disabled]="uploadForm.invalid"
            type="submit">Upload Data</button> -->
    <ng-content></ng-content>
</form>